.blog {
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $mobile) {
    padding-top: 45px;
  }
}

.blog h2 {
  margin-bottom: 20px;
}

.blog__link {
  @media (max-width: $mobile) {
    margin-bottom: 48px;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-template-rows: 300px 300px;
  gap: 30px;

  @media (max-width: $min-desktop) {
    grid-template-columns: 475px 475px;
    grid-template-rows: 255px 255px;
    row-gap: 15px;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 678px;
    grid-template-rows: 300px 300px 300px;
    row-gap: 50px;
    padding-top: 27px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 290px;
    grid-template-rows: 512px 512px 512px;
    row-gap: 40px;
    padding-top: 0;
  }
}

.blog__item {
  position: relative;
  display: flex;

  &--big-picture {
    grid-row: 1/-1;
    grid-column: 2/3;

    @media (max-width: $tablet) {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.blog__wrap-picture {
  @media (max-width: $tablet) {
    width: 339px;
    overflow: hidden;
  }

  @media (max-width: $mobile) {
    width: 290px;
  }
}

.blog__item img {
  background-color: var(--gold-light-03);

  @media (max-width: $min-desktop) {
    width: 247px;
    height: 255px;
  }

  @media (max-width: $tablet) {
    width: 339px;
    height: 300px;
  }

  @media (max-width: $mobile) {
    width: 290px;
    height: 256px;
  }
}


.blog__item--big-picture img {
  @media (max-width: $min-desktop) {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet) {
    width: 339px;
    height: 300px;

    object-fit: cover;
    object-position: 24px 20px;
    transform: scale(1.2);
  }

  @media (max-width: $mobile) {
    width: 290px;
    height: 256px;
  }
}

.blog__read {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 65px 60px;
  width: 285px;
  min-height: 300px;

  text-align: center;

  background-color: var(--gold-light);

  @media (max-width: $min-desktop) {
    padding: 50px 30px;
    width: 247px;
    min-height: 255px;
  }

  @media (max-width: $tablet) {
    padding: 70px 88px;
    width: 339px;
    min-height: 300px;
  }

  @media (max-width: $mobile) {
    padding: 47px 60px;
    width: 290px;
    min-height: 256px;
  }

  &--big-picture {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: $tablet) {
      position: static;
      padding-top: 87px;
      padding-bottom: 87px;
    }

    @media (max-width: $mobile) {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }
}

.blog__read > * {
  font-weight: 500;
  line-height: 130%;
}

.blog__read p {
  margin-bottom: 13px;

  font-family: var(--poppins);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  color: var(--gray);
  border: none;
}

.blog__read h3 {
  margin-bottom: 38px;
  font-family: var(--cormorant-garamond);
  font-weight: 600;
  font-size: 26px;

  color: var(--black);
}

.blog__read a {
  padding-bottom: 5px;

  font-family: var(--poppins);
  font-size: 16px;

  color: var(--dark);
  border-bottom: 1px solid var(--gold);
}
