.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 261px;
  font-family: var(--cormorant-garamond);

  color: var(--white);

  background-color: var(--gold);
  background-image: url("../img/catalog.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: $resolution) {
    background-image: url("../img/catalog@2x.jpg");
  }

  @media (max-width: $tablet) {
    background-image: url("../img/catalog-tablet@2x.jpg");

    @media (min-resolution: $resolution) {
      background-image: url("../img/catalog-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile) {
    background-image: url("../img/catalog-mobile@2x.jpg");

    @media (min-resolution: $resolution) {
      background-image: url("../img/catalog-mobile@2x.jpg");
    }
  }
}

.catalog h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
}

.catalog p {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;

  @media (max-width: $mobile) {
    width: 250px;
    line-height: 120%;
  }
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 50px;

  padding-top: 80px;
  padding-bottom: 78px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-top: 50px;
  }

  @media (max-width: $mobile) {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}

.catalog__product {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(4, 360px);
  column-gap: 30px;
  row-gap: 15px;

  @media (max-width: $min-desktop) {
    grid-template-columns: repeat(3, 206px);
    grid-template-rows: repeat(4, 290px);
    row-gap: 20px;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(6, 230px);
    row-gap: 15px;
  }
}

.catalog__buttons {
  display: flex;
  justify-content: space-between;

  padding-top: 47px;

  @media (max-width: $tablet) {
    padding-top: 53px;
  }

  @media (max-width: $mobile) {
    justify-content: center;
    padding-top: 25px;
  }
}

.catalog__button {
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--dark);

  border: none;
  background-color: var(--transparent);

  @media (max-width: $mobile) {
    display: none;
  }
}

.catalog__inner {
  @media (max-width: $tablet) {
    min-width: 140px;
  }
}

.catalog__pagination {
  padding: 0;
  width: 18px;

  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--gray);

  border: none;
  background-color: var(--transparent);

  &--active {
    color: var(--dark);
  }

  @media (max-width: $mobile) {
    margin-right: 10px;
  }
}
