.filter {
  color: var(--dark);
}

.filter__form {
  @media (max-width: $tablet) {
    display: none;
  }

  &--open {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--white);
    box-shadow: 0px 5px 32px var(--dark-light);
  }
}

.filter fieldset {
  padding: 28px 25px;

  border: 1px solid var(--gold);
  border-radius: 0;
  cursor: pointer;

  &:not(:first-child) {
    border-top: none;
  }
}

.filter__title {
  display: flex;
  justify-content: space-between;
}

.filter__title h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.filter ul {
  padding-top: 30px;
}

.filter li {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.filter label {
  position: relative;
  padding-left: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  color: var(--dark);
}

.filter {
  input+label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--gold);
    border-radius: 0;
  }

  input:checked+label::before {
    background-color: var(--gold);
  }
}

.filter button {
  height: 68px;

  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  background-color: var(--gold);
  border: 1px solid var(--gold);
  cursor: pointer;
}

.filter button[type="submit"] {
  margin-top: 25px;
  width: 250px;

  color: var(--white);
}

.filter button[type="reset"] {
  margin-top: 25px;
  width: 250px;

  background-color: var(--white);

  color: var(--dark);
}

.filter__toggle {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
    width: 100%;

    color: var(--white);
  }
}
