.footer {
  padding-top: 90px;
  padding-bottom: 70px;

  background-color: var(--black);

  @media (max-width: $tablet) {
    padding-top: 49px;
  }

  @media (max-width: $mobile) {
    padding-top: 51px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 500px max-content max-content;
  column-gap: 20px;
  justify-content: space-between;

  @media (max-width: $mid-desktop) {
    grid-template-columns: 465px max-content max-content;
  }

  @media (max-width: $tablet) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 42px;
    padding-right: 150px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    padding-right: 15px;
  }
}

.footer__nav {
  display: flex;
  padding-top: 5px;
  min-width: 370px;

  @media (max-width: $tablet) {
    grid-row: 2/3;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    padding-top: 25px;
    min-width: auto;
  }
}

.footer__list {
  &:not(:last-child) {
    margin-right: 75px;

    @media (max-width: $tablet) {
      margin-right: 90px;
    }

    @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.footer__item {
  margin-bottom: 22px;
}

.footer__item a {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--white);
}
