.form-accordion__block {
  display: none;
}

.form-accordion__item--active .form-accordion__block,
.form-accordion__item--nojs .form-accordion__block {
  display: flex;
  flex-direction: column;
  padding: 22px 25px 27px;

  @media (max-width: $tablet) {
    padding-bottom: 37px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 27px;
  }
}

.form-accordion__item--active {
  .control {
    margin-top: 4px;
    padding-bottom: 17px;

    @media (max-width: $tablet) {
      margin-top: 10px;
    }
  }

  .form-accordion__button {
    padding-bottom: 0;
  }
}

.form-accordion__toggle {
  border: none;
  background-color: var(--transparent);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 1px solid var(--gold);
  }
}

.form-accordion__toggle svg {
  @media (max-width: $tablet) {
    width: 28px;
  }
}

.form-accordion__item--active .form-accordion__toggle {
  transform: rotate(180deg);
}

.form-accordion__item--nojs .form-accordion__toggle {
  display: none;
}
