.header {
  position: relative;

  padding-top: 30px;
  padding-bottom: 20px;

  @media (max-width: $tablet) {
    padding-bottom: 25px;
  }

  @media (max-width: $mobile) {
    padding-top: 20px;
    padding-bottom: 16px;
  }

  &--open {
    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      padding-bottom: 100px;

      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      background-color: var(--gold);
    }
  }

  &--nojs {
    @media (max-width: $tablet) {
      background-color: var(--gold);
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  @media (max-width: $tablet) {
    padding-bottom: 0;
  }
}

.header__toggle {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    padding: 0;
    padding-top: 23px;

    width: 25px;
    height: 40px;

    border: none;
    background-color: var(--transparent);
  }

  @media (max-width: $mobile) {
    padding-top: 15px;
  }
}

.header__toggle svg {
  stroke: var(--dark);
}

.header form {
  display: flex;

  padding-top: 2px;
  width: 100%;

  @media (max-width: $tablet) {
    position: relative;

    grid-row: 2/3;
    grid-column: 1/-1;

    display: none;
    margin-top: 40px;
  }

  @media (max-width: $mobile) {
    margin-top: 30px;
  }
}

.header label {
  margin-top: 13px;
  margin-right: 13px;
  fill: var(--dark);

  @media (max-width: $tablet) {
    position: absolute;
    top: 2px;
    left: 12px;
    fill: var(--white);
  }
}

.header input {
  width: 65%;
  height: 40px;

  border: none;
  background-color: var(--transparent);

  @media (max-width: $tablet) {
    width: 100%;
    background-color: var(--white-015);
    border-radius: 21px;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: var(--gray);

    @media (max-width: $tablet) {
      font-size: 0;
    }
  }
}

.header__logo {
  justify-self: center;
}

.header__logo svg {
  width: 66px;
  height: 66px;
  color: var(--gold);

  @media (max-width: $mobile) {
    width: 52px;
    height: 52px;
  }
}

.header__user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;

  @media (max-width: $tablet) {
    width: auto;
  }
}

.header__login {
  margin-left: 40px;
  margin-top: 12px;
  height: min-content;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: var(--dark);

  @media (max-width: $tablet) {
    display: none;
    margin-left: 0;
    margin-top: 0;

    font-size: 18px;
    line-height: 130%;

    color: var(--white);
  }
}

.header__cart {
  margin-left: 40px;
  margin-top: 12px;
  padding: 0;
  height: min-content;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;

  color: var(--dark);
  border: none;
  background-color: var(--transparent);
  cursor: pointer;

  @media (max-width: $tablet) {
    margin-left: 0;
    padding-top: 12px;
  }

  @media (max-width: $mobile) {
    padding-top: 5px;
  }
}

.header__cart span {
  @media (max-width: $tablet) {
    display: none;
  }
}

.header__cart svg {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    stroke: var(--dark);
  }
}

.header--open,
.header--nojs {
  @media (max-width: $tablet) {
    .header__wrapper {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-template-rows: auto auto;
    }

    form {
      display: flex;
    }

    .header__toggle svg {
      stroke: var(--white);
    }

    .header__logo svg {
      color: var(--white);
    }

    .header__cart svg {
      stroke: var(--white);
    }
  }
}

.header--nojs {
  .header__toggle {
    display: none;
  }

  .header__wrapper {
    grid-template-columns: 1fr max-content;
  }
}
