.navigation {
  padding-top: 17px;

  border-top: 1px solid var(--light);

  @media (max-width: $tablet) {
    display: none;

    padding-top: 104px;

    border-top: none;
  }

  @media (max-width: $mobile) {
    padding-top: 38px;
  }
}

.navigation__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-left: 46px;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-left: 0;
  }

  &--contacts {
    display: none;

    @media (max-width: $tablet) {
      display: flex;
    }
  }
}

.navigation__item {
  margin-right: 35px;

  @media (max-width: $tablet) {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 40px;

      @media (max-width: $mobile) {
        margin-bottom: 32px;
      }
    }
  }
}

.navigation__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--dark);

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 36px;

    color: var(--white);
  }
}

.navigation__item--contacts a {
  font-size: 18px;
  line-height: 130%;
  opacity: 0.75;
}

.navigation__login {
  display: none;
}

.header--open,
.header--nojs {
  .navigation {
    display: block;
  }

  .navigation__item a {
    &:hover,
    &:focus {
      opacity: 0.6;
      color: var(--white);
    }

    &:active {
      opacity: 0.3;
    }
  }

  .navigation__login {
    display: flex;

    &:hover,
    &:focus {
      opacity: 0.6;
      color: var(--white);
    }

    &:active {
      opacity: 0.3;
    }
  }
}
