.new {
  text-align: center;

  padding-top: 120px;
  padding-bottom: 58px;

  @media (max-width: $tablet) {
    padding-top: 70px;
    padding-bottom: 10px;
  }

  @media (max-width: $mobile) {
    padding-top: 60px;
  }
}

.new__link {
  padding-bottom: 0;

  @media (max-width: $tablet) {
    padding-bottom: 5px;
  }
}
