.pagination {
  margin-top: 43px;

  @media (max-width: $tablet) {
    margin-top: 34px;
  }

  @media (max-width: $mobile) {
    align-items: center;
    margin-top: 32px;
  }
}

.pagination__item {
  padding: 7px;

  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--gray);

  border: none;
  background-color: var(--transparent);

  cursor: pointer;
}

.pagination__current-page {
  color: var(--dark);
}

.pagination span {
  margin-right: 5px;
  margin-left: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--dark);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
