.slider {
  position: relative;
}

.slider__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  width: 1200px;
  overflow: hidden;

  @media (max-width: $min-desktop) {
    width: 950px;
  }

  @media (max-width: $tablet) {
    width: 678px;
  }

  @media (max-width: $mobile) {
    width: 450px;
  }

  @media (max-width: $mid-mobile) {
    width: 290px;
  }
}

.slider__button {
  position: absolute;
  top: -125px;

  padding: 0;
  width: 50px;
  height: 50px;

  border: none;
  background-color: var(--transparent);

  cursor: pointer;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (max-width: $mobile) {
    // display: none;
  }

  &:hover,
  &:focus {
    outline: 1px solid var(--gold);
  }
}

.slider__button svg {
  display: flex;
  stroke: var(--gold);

  &:hover,
  &:focus {
    stroke: var(--dark);
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__button--next svg {
  margin-left: auto;
  transform: rotate(180deg);
}

.slider__list {
  position: relative;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
  height: 100%;
}

.slider__item a {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;
}

.slider__pagination {
  display: flex;
  justify-content: center;

  margin-top: 43px;

  @media (max-width: $tablet) {
    margin-top: 34px;
  }

  &--desktop {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      margin-top: 22px;
    }
  }
}

.slider__pagination-button {
  padding: 0;
  border: none;
  background-color: var(--transparent);
}
