.slider {
  position: relative;
  padding-top: 30px;

  @media (max-width: $tablet) {
    padding-top: 19px;
  }

  @media (max-width: $mobile) {
    padding-top: 10px;
  }
}

.slider__wrapper {
  z-index: 1;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  width: 1170px;

  overflow: hidden;

  @media (max-width: $mid-desktop) {
    width: 950px;
  }

  @media (max-width: $tablet - 1px) {
    width: 678px;
  }

  @media (max-width: $min-tablet) {
    width: 290px;
  }
}

.slider__button {
  position: absolute;
  top: -95px;

  padding: 0;
  width: 50px;
  height: 50px;

  border: none;
  background-color: var(--transparent);

  cursor: pointer;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (max-width: $mobile) {
    display: none;
  }

  &:hover,
  &:focus {
    outline: 1px solid var(--gold);
  }
}

.slider__button svg {
  display: flex;
  stroke: var(--gold);

  @media (max-width: $tablet) {
    width: 38px;
    height: 15px;
  }

  &:hover,
  &:focus {
    stroke: var(--dark);
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__button--next svg {
  margin-left: auto;
  transform: rotate(180deg);
}

.slider__list {
  position: relative;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  width: 100%;
  height: 100%;
}

.slider__item a {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;

  @media (max-width: $tablet) {
    width: 324px;
  }

  @media (max-width: $mid-mobile) {
    width: 130px;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;

  margin-top: 43px;

  @media (max-width: $tablet) {
    margin-top: 34px;
  }
}

.slider__pagination-button {
  padding: 0;
  border: none;
  background-color: var(--transparent);
}
