.social-icon {
  padding-top: 5px;

  @media (max-width: $tablet) {
    grid-row: 2/3;
  }

  @media (max-width: $mobile) {
    grid-row: 3/4;

    display: flex;

    padding-top: 3px;
    margin-left: -4px;
  }
}

.social-icon__item {
  margin-bottom: 22px;

  @media (max-width: $mobile) {
    margin-right: 13px;
    margin-bottom: 0;
  }
}

.social-icon__link span {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--white);

  @media (max-width: $mobile) {
    display: none;
  }
}

.social-icon__link svg {
  margin-right: 15px;
  color: var(--white);

  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}

.social-icon__link:hover span,
.social-icon__link:focus span,
.social-icon__link:hover svg,
.social-icon__link:focus svg {
  color: var(--gold);
}
