.social-icon {
  grid-column: 3/4;
  padding-top: 5px;

  @media (max-width: $tablet) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (max-width: $mobile) {
    grid-column: 1/2;
    grid-row: 3/4;

    display: flex;

    padding-top: 3px;
    margin-left: -4px;
  }
}

.social-icon__item {
  margin-bottom: 22px;

  @media (max-width: $mobile) {
    margin-right: 13px;
    margin-bottom: 0;
  }
}

.social-icon__item span {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--white);

  @media (max-width: $mobile) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--gold);
  }

  &:active {
    opacity: 0.6;
  }
}

.social-icon__item svg {
  margin-right: 15px;

  @media (max-width: $mobile) {
    width: 20px;
    height: 20px;
  }
}
