.container {
  max-width: $desktop;
  min-width: $min-mobile;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $tablet) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  overflow: hidden;
}

.section h2 {
  margin-bottom: 25px;

  font-family: var(--cormorant-garamond);
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;

  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.section__link {
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 5px;

  font-family: var(--poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  color: var(--dark);
  border-bottom: 1px solid var(--gold);

  @media (max-width: $tablet) {
    // margin-bottom: 55px;
  }
}

.section__content {
  padding-top: 30px;
}
