*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--poppins);
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;

  &[href]:hover,
  &[href]:focus {
    color: var(--gold);
  }

  &[href]:active {
    opacity: 0.6;
  }
}

button {
  outline: none;

  &:hover,
  &:focus {
    color: var(--gold);
  }

  &:active {
    opacity: 0.6;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
p {
  margin: 0;
}
